*,
*::before {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.header,
.main {
  max-width: 40rem;
  margin: 0 auto;
  padding: 1rem;
}

.header {
  display: flex;
  background: black;
  color: #fff;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  border-radius: 6px 6px 0px 0px;
}
.header__link {
  text-decoration: none;
  color: inherit;
}
